:root {
	font-family: sans-serif;
}

body {
	background: radial-gradient(white, #eee);
}

#root {
	margin: 0 auto;
	max-width: 800px;
}

h1 {
	text-align: center;
	letter-spacing: 4pt;
	font-size: 3em;
}

#sudoku {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

#sudoku-grid {
	width: 500px;
}

#sudoku-controls {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	padding-left: 20px;
}

#sudoku-controls-buttons {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	flex-grow: 1;
}

#sudoku-controls-buttons > button {
	font-size: 1.8em;
	background-color: green;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	max-height: 2em;
}

#sudoku-controls-buttons > button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

#sudoku-controls-numbers {
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}

#sudoku-controls-numbers > button {
	width: 90px;
	height: 90px;
	margin: 2px;
	border: none;
	border-radius: 5px;
	font-size: 50px;
	font-family: monospace;
	background-color: lightgrey;
	color: green;
	cursor: pointer;
}

#sudoku-controls-numbers > button:last-child {
	flex-grow: 1;
	margin-bottom: 0;
}

#sudoku-controls-numbers > button:hover {
	background-color: #aaa;
}

#sudoku-controls > .spacer {
	flex-grow: 2;
}

#sudoku-grid {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: repeat(9, minmax(0, 1fr));
	grid-template-columns: repeat(9, minmax(0, 1fr));
	width: 500px;
	height: 500px;
	border: 3px solid black;
	border-radius: 5px;
}

#sudoku-grid > .sudoku-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	text-align: center;
	border: 1px solid grey;
	cursor: pointer;
}

#sudoku-grid > .sudoku-cell:nth-child(3n) {
	border-right: 2px solid black;
}

#sudoku-grid > .sudoku-cell:nth-child(3n + 1) {
	border-left: 2px solid black;
}

#sudoku-grid>.sudoku-cell:nth-child(27n+19){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+20){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+21){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+22){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+23){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+24){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+25){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+26){border-bottom: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+27){border-bottom: 2px solid black;}

#sudoku-grid>.sudoku-cell:nth-child(27n+28){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+29){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+30){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+31){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+32){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+33){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+34){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+35){border-top: 2px solid black;}
#sudoku-grid>.sudoku-cell:nth-child(27n+36){border-top: 2px solid black;}


#sudoku-grid > .sudoku-cell.highligted.selected {
	background-color: rgba(0, 255, 0, 0.6);
}

#sudoku-grid > .sudoku-cell.highligted {
	background-color: rgba(0, 255, 0, 0.15);
}

#sudoku-grid > .sudoku-cell.highligted.wrong {
	background-color: rgba(255, 0, 0, 0.2);
}

#sudoku-grid > .sudoku-cell.highligted.selected.wrong {
	background-color: rgba(255, 0, 0, 0.6);
	color: black;
}

#sudoku-grid > .sudoku-cell.wrong {
	color: red;
}

.extra h2 {
	border-bottom: 2px solid black;
	margin: 0.8em 0 0.8em;
	font-size: 1.6em;
}

.extra p {
	margin: 0.3em 0;
}

@media screen and (max-width: 850px) {
	#sudoku {
		flex-flow: column;
		width: 60vw;
	}

	#sudoku-grid {
		width: 60vw;
		height: 60vw;
	}

	#sudoku-controls {
		padding: 0;
		align-items: stretch;
		width: auto;
	}

	#sudoku-controls-buttons {
		justify-content: space-evenly;
		flex-grow: 2;
		flex-flow: row;
		justify-content: space-between;
		padding: 10px 0px 10px;
	}
	
	#sudoku-controls-buttons > button {
		font-size: 1.4em;
		width: 48%;
	}

	#sudoku-controls-numbers {
		flex-grow: 1;
		justify-content: space-between;
		align-content: center;
	}

	#sudoku-controls-numbers  > button {
		width: 6vw;
		height: 7vw;
		line-height: initial;
		font-size: 2em;
		margin: 1px;
	}

	.extra {
		padding: 0 20px;
	}
}

@media screen and (max-width: 600px) {
	#sudoku {
		width: 90vw;
	}

	#sudoku-grid {
		width: 90vw;
		height: 90vw;
	}

	#sudoku-controls-numbers  > button {
		width: 17vw;
		height: 10vw;
	}

	#sudoku-controls-numbers  > button:last-child {
		flex-grow: 0;
	}
}

@media screen and (max-width: 450px) {
	#sudoku {
		width: 90vw;
	}

	#sudoku-grid {
		width: 90vw;
		height: 90vw;
	}

	#sudoku-controls-numbers  > button {
		width: 17vw;
		height: 17vw;
	}

	#sudoku-controls-numbers  > button:last-child {
		flex-grow: 0;
	}

	h1 {
		font-size: 2em;
	}
}
